body {
	width: 100wh;

	color: #fff;
	background: linear-gradient(-45deg,#6664d8,#66bedb, rgb(102, 228, 198));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}


h1 {
  font: 6em 'Merienda One', Helvetica, sans-serif;
  color: darksalmon;
  text-shadow: 3px 3px 3px #ffffff;
}

label,p{
	font: 70 15px/1.2 'Merienda One', Helvetica, sans-serif;
	color: #4e4e4e;
	text-shadow: 1px 1px 1px #ffffff;

}
h3{
	font: 100 25px/1.2 'Merienda One', Helvetica, sans-serif;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;

}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items:flex-start;
  /* flex-wrap: nowrap | wrap | wrap-reverse; */
}

.center2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-items:center;
	align-self: center;
  }

  .spaceBtw{
	display: flex;

	justify-content: space-between;

  }

  .main {

	background-image: url('./components/CommandBarBackgound.jpg');
  }

  .checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
	
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }

.checkbox {
	padding-left: 20px;
	padding-right: 10px }
.checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 5px; }
.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555; }
.checkbox input[type="checkbox"] {
	opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
	font-size: 0.8em;
	font-weight:bolder; 
	content: "🗸"; }
.checkbox input[type="checkbox"]:disabled + label {
	opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed; }
	
.checkbox1 input[type="checkbox"]:checked + label::before {
	background-color: #838383;
	border-color: #838383; }
.checkbox1 input[type="checkbox"]:checked + label::after {
	color: #fff; }

